.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h5 {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: start;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}

.container img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    animation: fadeIn 0.5s ease-in-out forwards;
    user-select: none;
    -webkit-user-drag: none;
    filter:drop-shadow(-4px 4px 0.8px black);
}

