.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43,48,53, 1);
    height: 30px;
}

.container p {
    color: white;
    margin: 0;
    font-size: 16px;
}

.container a {
    text-decoration: none;
    font-size: 16px;
    color: #0D6EFD;
}