.container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: white;
    overflow: hidden; /*Para corregir Curves*/
}

.container h1 {
    margin-bottom: 0px;
    text-shadow: 1px 1px 0px black;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 44px;
    padding: 0 12px;

}

.container h1 span {
    text-decoration-line: underline;
    text-decoration-color: #2B3035;
    
}

.container_h1_img_h5 {
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(135deg, #FFA6B7 10%, #1E2AD2 100%); Muy parecido a Trello*/
    background: linear-gradient(-45deg, rgba(80, 3, 170, 1.0), rgba(104, 252, 185, 1.0));
    padding-top: 12px;
}

.container_h1_imagePc {
    display: flex;
    flex-direction: column;
}

.image_pc {
    align-self: center;
    width: 300px;
    user-select: none;
    -webkit-user-drag: none;
    filter:drop-shadow(-4px 4px 0.8px black);
}

.container_h1_img_h5 h5 {
    font-weight: 400;
    margin-bottom: 28px;
    padding: 0 12px;
}

.container_h5 {
    display: flex;
    flex-direction: column;
    padding: 29px 0 0; /*29 por el -1 de la curve*/
    align-items: center;
    background-color: rgb(30, 30, 30);
}

.container_h5_row {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: center;
    padding: 0 12px;
}
/*Con position y bottom corrijo el error visual que se mostraba debajo de la curva al hacer zoom*/
.curve_white  {
    width: 100vw;
    position: relative;
    bottom: -1px;      
    user-select: none;
    -webkit-user-drag: none;
    transform: scaleX(-1);
}

.container_h5 h5 {
    font-weight: 400;
    margin-bottom: 0;   
}

.curve_black  {
    width: 100vw;
    filter: invert(88.2%);
    position: relative;
    bottom: -1px;
    user-select: none;
    -webkit-user-drag: none;
    transform: scaleX(-1);
}

.container_h5_btn h5 {
    align-self: center;
    margin-bottom: 24px;
    color: rgb(30, 30, 30);
    text-shadow: none;
    font-weight: 600;
    font-size: 1.28rem;
}

.container_h5_btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    margin: 79px auto 78px; /*79 por el -1 de la curve*/
}

.container_h5_btn Button {
    align-self: center;
    width:180px;
    height:60px;
}

.boardImg {
    width: 260px;
    margin-top: 24px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
    filter:drop-shadow(-4px 4px 0.8px black);
}

/*//////////////////////////////////////////////*/

@media (min-width: 500px) {
    .container_h1_img_h5 {
        padding-top: 34px;
    }

    .container_h1_img_h5 h1 {
        padding: 0 8%;
        font-size: 46px;
    }

    .image_pc {
        margin: 20px auto;
        width: 340px;
    }

    .container_h1_img_h5 h5 , .container_h5 h5 {
        padding: 0 8%;
        font-size: 1.3rem;
        text-align: center;
    }

    .container_h1_img_h5 h5 {
        margin-bottom: 30px;
    }

    .container_h5 {
        padding-top: 31px;
    }

    .boardImg {
        margin: 28px 0 0;
        width: 300px;
    }

    .container_h5_row {
        margin-bottom: 28px;
    }

    .container_h5_btn {
        margin: 89px auto 88px;
    }

    .container_h5_btn h5 {
        font-size: 1.3rem;
        margin-bottom: 38px;
    }
}

/*//////////////////////////////////////////////*/

@media (min-width: 1024px) {
    .container h5 {
        text-align: start;
    }

    .container_h1_img_h5 {
        padding-top: 20px;
        display: block;
    }

    .container_h1_imagePc {
        flex-direction: row-reverse;
        max-width: 1280px;
        margin: 0 auto;
        align-items: center;
        padding: 0 20px;
    }

    .container_h1_imagePc h1 {
        padding: 0;
        text-align: right;
        font-size: 58px;
    }

    .container_h1_imagePc span {
        font-size: 78px;
    }

    .image_pc {
        margin: 0;
        width: 360px;
    }

    .container_h1_img_h5 h5 {
        padding: 0 20px;
        margin: 0 auto 0;
        max-width: 1280px;
        font-size: 1.65rem;
    }

    .container_h5 {
        padding-top: 0px;
    }

    .container_h5 h5 {
        font-size: 1.5rem;
    }

    .container_h5_row h5 {
        padding: 0;
    }

    .container_h5_row {
        flex-direction: row;
        align-items: center;
        padding: 0 21px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .boardImg {
        margin-top: 0;
        width: 260px;
    }

    .container_h5_btn {
        margin: 29px auto 92px;
    }
}

/*////////////////////////////////////////////// Detalles */

@media(min-width: 1208px) {
    .container_h1_imagePc h1 {
        padding: 0;
        text-align: right;
        font-size: 58px;
        margin-left: 74px;
    }
}