.container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: white;
    overflow: hidden; /*Para corregir Curves*/
}

.container h1 {
    margin-bottom: 0px;
    text-shadow: 1px 1px 0px black;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 44px;
    padding: 0 12px;

}

.container h1 span {
    text-decoration-line: underline;
    text-decoration-color: #2B3035;
    
}

.container_h1_img_h5 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #FFA6B7 10%, #1E2AD2 100%);
    padding-top: 12px;
}

.image_pc {
    align-self: center;
    width: 300px;
    user-select: none;
    -webkit-user-drag: none;
}

.container_h1_img_h5 h5 {
    font-weight: 400;
    margin-bottom: 28px;
    padding: 0 12px;
}

.container_h5 {
    display: flex;
    flex-direction: column;
    padding: 29px 0 0; /*29 por el -1 de la curve*/
    align-items: center;
    background-color: rgb(30, 30, 30);
}

.container_h5_row {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    padding: 0 12px;
}
/*Con position y bottom corrijo el error visual que se mostraba debajo de la curva al hacer zoom*/
.curve_white  {
    width: 100vw;
    position: relative;
    bottom: -1px;      
    user-select: none;
    -webkit-user-drag: none;
}

.container_h5 h5 {
    font-weight: 400;
    margin-bottom: 0;   
}

.curve_black  {
    width: 100vw;
    filter: invert(88.2%);
    position: relative;
    bottom: -1px;
    user-select: none;
    -webkit-user-drag: none;
}

.container_h5_btn h5 {
    align-self: center;
    margin-bottom: 24px;
    color: rgb(30, 30, 30);
    text-shadow: none;
    font-weight: 600;
    font-size: 1.28rem;
}

.container_h5_btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    margin: 79px auto 78px; /*79 por el -1 de la curve*/
}

.container_h5_btn Button {
    align-self: center;
    width:180px;
    height:60px;
}

.boardImg {
    margin-bottom: 24px;
    width: 260px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

/*//////////////////////////////////////////////*/

@media (min-width: 768px) {
    .container_h1_img_h5 {
        padding-top: 34px;
    }

    .container_h1_img_h5 h1 {
        padding: 0 8%;
        font-size: 46px;
    }

    .image_pc {
        margin: 20px auto;
        width: 340px;
    }

    .container_h1_img_h5 h5 , .container_h5 h5 {
        padding: 0 8%;
        font-size: 1.3rem;
        text-align: center;
    }

    .container_h1_img_h5 h5 {
        margin-bottom: 30px;
    }

    .container_h5 {
        padding-top: 31px;
    }

    .boardImg {
        margin: 20px 0 42px;
        width: 300px;
    }

    .container_h5_btn {
        margin: 89px auto 88px;
    }

    .container_h5_btn h5 {
        font-size: 1.3rem;
    }
}

/*//////////////////////////////////////////////*/

