.container {
    color: white;
    overflow: hidden; /*Para corregir Curves*/
}

.first_container h1 , .second_container h2 {
    text-shadow: 1px 1px 0px black;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
    /* text-decoration: underline #2B3035; */
}

.paragraphs {
    background-color: rgb(30, 30, 30);
    padding: 18px 20px 18px;
    
}

.first_container p {
    font-size: 1.20rem;
    margin-bottom: 0;
}

.paragraphs_2 {
    padding: 18px 20px 18px;
}

.second_container p{
    font-size: 1.20rem;
    margin-bottom: 0;
    color: rgb(30, 30, 30);
    font-weight: 600;
}

.h1_img_curve {
    background: linear-gradient(-45deg, rgba(80, 3, 170, 1.0), rgba(104, 252, 185, 1.0));
}

.h1_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 12px 0;
}

.curve_black  {
    width: 100vw;
    filter: invert(88.2%);
    position: relative;
    bottom: -1px;
    user-select: none;
    -webkit-user-drag: none;
    transform: scaleX(-1);
}

.imgRoboto {
    width: 200px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

.h2_img_curve {
    background: linear-gradient(-45deg, rgba(80, 3, 170, 1.0), rgba(104, 252, 185, 1.0));
}

.curve_black_invert {
    width: 100vw;
    position: relative;
    filter: invert(88.2%);
    top: -2px; /*Con 1 se ve la linea*/
    transform: scaleY(-1);
    user-select: none;
    -webkit-user-drag: none;

}

.h2_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12px 0;
}

.h2_img h2 {
    text-align: center;
}

.imgContact {
    width: 200px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

.curve_white  {
    width: 100vw;
    position: relative;
    bottom: -1px;      
    user-select: none;
    -webkit-user-drag: none;
    transform: scaleX(-1);
}

/*//////////////////////////////////////////////*/

@media (min-width: 320px) {
    .imgRoboto , .imgContact { width: 180px;}
}

@media (min-width:500px) {
    .first_container h1 , .second_container h1 {
        font-size: 38px;
    }

    .paragraphs , .paragraphs_2 {
        padding: 88px 8%;
    }

    .first_container p , .second_container p {
        font-size: 1.25rem;
        padding: 6px 0;
    }

    .endP p{
        padding-bottom: 30px;
    }
}