.container {
    color: white;
    overflow: hidden; /*Para corregir Curves*/
}

.first_container h1 , .second_container h2 {
    text-shadow: 1px 1px 0px black;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
    /* text-decoration: underline #2B3035; */
}

.paragraphs {
    background-color: rgb(30, 30, 30);
    padding: 18px 20px 18px;
    
}

.paragraphs_2 {
    padding: 18px 20px 18px;
}

.second_container p{
    font-size: 18px;
    margin-bottom: 0;
    color: rgb(30, 30, 30);
    font-weight: 500;
    padding-bottom: 18px;
}

.h1_img_curve {
    background: linear-gradient(180deg, rgba(80, 3, 170, 1.0), rgba(104, 252, 185, 1.0));
}

.h1_img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 10px 12px 0;
    text-align: center;
}

.curve_black  {
    width: 100vw;
    filter: invert(88.2%);
    position: relative;
    bottom: -1px;
    user-select: none;
    -webkit-user-drag: none;
    transform: scaleX(-1);
}

.imgRoboto {
    width: 108px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

.h2_img_curve {
    background: linear-gradient(0deg, rgba(80, 3, 170, 1.0), rgba(104, 252, 185, 1.0));
}

.curve_black_invert {
    width: 100vw;
    position: relative;
    filter: invert(88.2%);
    top: -3px; /*Con 1 se ve la linea*/
    transform: scaleY(-1);
    user-select: none;
    -webkit-user-drag: none;

}

.h2_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12px 0;
}

.h2_img h2 {
    text-align: center;
}

.imgContact {
    width: 108px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

.curve_white  {
    width: 100vw;
    position: relative;
    bottom: -1px;      
    user-select: none;
    -webkit-user-drag: none;
    transform: scaleX(-1);
}

.paragraphs summary {
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.first_container p {
    font-size: 16px;
    margin-bottom: 0;
}

.backgroundParagraphs {
    border: 1px solid rgba(255, 255, 255, 0.25);;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255 255 255 / 3%);;
}

.btn  {
    width: 160px;
    height: 60px;
    margin: 10px auto 40px;
}

.btn[href] {  /*Modificar texto btn React-Bootstrap*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*//////////////////////////////////////////////*/

@media (min-width:500px) {
    .first_container h1 , .second_container h2 {
        font-size: 30px;
    }

    .paragraphs summary {
        font-size: 20px;
    }

    .first_container p {
        font-size: 18px;
        padding: 6px 0;
    }

    .second_container p {
        font-size: 20px;
        text-align: center;
    }
    
    .paragraphs , .paragraphs_2 {
        padding: 20px 40px;
    }

    .btn {
        margin-top: 25px;
    }

}

/*//////////////////////////////////////////////*/

@media (min-width: 1024px) {
    .h5_expanded:hover {
        background-color: rgba(245, 245, 245, 0.336);
        transition: 0.6s;
    }
}